<!--start sidebar -->
<aside class="sidebar-wrapper" data-simplebar="true">
  <div class="sidebar-header">
    <div>
      <img
        src="assets/images/logo-icon.png"
        class="logo-icon"
        alt="logo icon"
      />
    </div>
    <div>
      <h4 class="logo-text">TDSoft</h4>
    </div>
    <div class="toggle-icon ms-auto"><i class="bi bi-list"></i></div>
  </div>
  <!--navigation-->
  <ul class="metismenu" id="menu">
    <li>
      <a href="/">
        <div class="parent-icon"><i class="bi bi-list-task"></i></div>
        <div class="menu-title">Tasks</div>
      </a>
    </li>
    <li>
      <a href="/accounts">
        <div class="parent-icon"><i class="bi bi-people"></i></div>
        <div class="menu-title">Accounts</div>
      </a>
    </li>
    <li>
      <a href="/emails">
        <div class="parent-icon"><i class="bi bi-envelope"></i></div>
        <div class="menu-title">Emails</div>
      </a>
    </li>
    <li>
      <a href="/xproxies">
        <div class="parent-icon"><i class="bi bi-router"></i></div>
        <div class="menu-title">xProxies</div>
      </a>
    </li>
    <li>
      <a href="/tinsofts">
        <div class="parent-icon"><i class="bi bi-router"></i></div>
        <div class="menu-title">Tinsofts</div>
      </a>
    </li>
    <li>
      <a href="/settings">
        <div class="parent-icon"><i class="bi bi-gear"></i></div>
        <div class="menu-title">Settings</div>
      </a>
    </li>
  </ul>
  <!--end navigation-->
</aside>
<!--end sidebar -->
