<!DOCTYPE html>
<html lang="en" class="semi-dark">
  <head>
    <%- include("partials/metaHead") %>
    <title>Register Reddit - TDSoft</title>
    <style>
      /* STYLING DATATABLE */
      tr {
        border-color: rgb(222, 226, 230);
      }
    </style>
  </head>

  <body>
    <!--start wrapper-->
    <div class="wrapper">
      <%- include("partials/topHeader") %> <%- include("partials/sidebarNav") %>

      <!--start content-->
      <main class="page-content">
        <!-- START Export-->
        <div class="card radius-10 shadow-sm w-100">
          <div class="card-header">
            <h5 class="mb-0">Export</h5>
          </div>
          <div class="card-body">
            <form action="/accounts/export" method="POST">
              <div class="mb-3">
                <label for="fromDate" class="form-label">From</label>
                <input
                  required
                  type="date"
                  class="form-control"
                  name="fromDate"
                  id="fromDate"
                />
              </div>
              <div class="mb-3">
                <label for="toDate" class="form-label">To</label>
                <input
                  required
                  type="date"
                  class="form-control"
                  name="toDate"
                  id="toDate"
                />
              </div>
              <div class="mb-3">
                <label for="verification" class="form-label"
                  >Verification</label
                >
                <select name="verification" class="form-select">
                  <option value="all">All</option>
                  <option value="no">No</option>
                  <option value="mailVerified">Mail Verified</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="status" class="form-label">Status</label>
                <select name="status" class="form-select">
                  <option value="all">All</option>
                  <option value="live">Live</option>
                  <option value="died">Died</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="nsfw" class="form-label">NSFW</label>
                <select name="nsfw" class="form-select">
                  <option value="all">All</option>
                  <option value="live">On</option>
                  <option value="died">Off</option>
                </select>
              </div>
              <button class="btn btn-primary px-5" type="submit">Export</button>
            </form>
          </div>
        </div>
        <!-- END Export-->

        <!-- START Accounts -->
        <div class="card radius-10 shadow-sm w-100">
          <div class="card-header">
            <div class="row justify-content-between align-items-center">
              <div class="col">
                <h5 class="mb-0">Accounts</h5>
              </div>
              <div class="col text-end">
                <span id="lastChecked"></span>
                <a
                  href="/check/start"
                  id="banCheckBtn"
                  class="btn btn-primary px-3"
                >
                  Check
                </a>
                <a
                  href="/check/stop"
                  id="stopBtn"
                  class="btn btn-danger px-3 disabled"
                  >Stop</a
                >
              </div>
            </div>
          </div>
          <div class="card-body">
            <table class="table table-striped" id="accountTable">
              <thead>
                <tr>
                  <th>Username</th>
                  <th>Verification</th>
                  <th>Created Date</th>
                  <th>NSFW</th>
                  <th>Note</th>
                  <th>Status</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
        <!-- END Accounts-->
      </main>
      <!--end page main-->

      <!--start overlay-->
      <div class="overlay nav-toggle-icon"></div>
      <!--end overlay-->

      <!--Start Back To Top Button-->
      <a href="javaScript:;" class="back-to-top"
        ><i class="bx bxs-up-arrow-alt"></i
      ></a>
      <!--End Back To Top Button-->
    </div>
    <!--end wrapper-->

    <%- include("partials/jsLib") %>

    <!-- Ban Check -->
    <script>
      function loadBanCheck() {
        $.ajax({
          url: "/check/status",
          success: (result) => {
            if (result.running) {
              $("#stopBtn").removeClass("disabled");
              $("#banCheckBtn").attr("disabled", "");
              outputHTML =
                '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> ';
              outputHTML += result.checked + "/" + result.total;
              $("#banCheckBtn").html(outputHTML);
              // bla bla
            } else {
              $("#stopBtn").addClass("disabled");
              $("#lastChecked").text(
                "Last checked: " + result.lastChecked.toLocaleString()
              );
              $("#banCheckBtn").removeAttr("disabled");
              $("#banCheckBtn").html("Check");
            }
          },
        });
      }
      setInterval(loadBanCheck, 2000);

      // Load table
      $(document).ready(function () {
        $("#accountTable").DataTable({
          ajax: {
            url: "/accounts/all",
            dataSrc: "",
          },
          order: [],
          columns: [
            {
              data: "username",
            },
            { data: "mailVerified", defaultContent: "" },
            {
              data: "createdDate",
              render: function (data) {
                return moment(data).format("MMMM Do YYYY, h:mm:ss a");
              },
            },
            {
              data: "NSFW",
              defaultContent: "",
              render: function (data) {
                return data
                  ? "<span class='badge bg-dark'>On</span>"
                  : "<span class='badge bg-light text-dark'>Off</span>";
              },
            },
            { data: "note", defaultContent: "" },
            {
              data: "status",
              defaultContent: "",
              render: function (data) {
                return data
                  ? "<span class='badge bg-success'>Live</span>"
                  : "<span class='badge bg-danger'>Died</span>";
              },
            },
          ],
        });
      });
    </script>
  </body>
</html>
